/* styles/result.css */
.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  flex-direction: column;
}

.scheme-card {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.scheme-card-container{
    display: flex;
    flex-direction: row;
}

.scheme-card h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.scheme-card h5 {
  font-size: 16px;
  color: #666666;
  margin-top: 5px;
}

.scheme-card p {
  margin: 10px 0;
  color: #333333;
}

.scheme-card button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.scheme-card button:hover {
  background-color: #0056b3;
}
