body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a{
  text-decoration: none;
}
.App .card {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #ffffff; */
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  margin-top: 20px;
}